**output**
**build**
**tmp**
**secret**
**private**
**key**
**local**
.claude
*.js
*.ts
*.bat
*.cmd
*.ps
*.ps1
*.ps2
*.psd
*.doc
*.docx
*.id
*.py
*.pyc
*.pem
*.pub
*.env
*.direnv
*.envrc
*.rsa
*.crt
*.pfx
*.bmp
*.cert
*.key
*.png
*.jpg
*.jpeg
*.log
*.txt
*.tsv
*.csv
*.sql
*.toml
